.popup_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.popup{
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 220px);
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255,255); 
    display: none;
}